@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-gradient-to-br from-gray-50 via-blue-50 to-gray-50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
